<div class="ui grid container padded responsive-gradient-bg global-height responsive-grey-gradient-bg">
  <div class="row"></div>
  <div class="centered row">
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
</div>
