<div class="ui grid container padded responsive-gradient-bg global-height responsive-grey-gradient-bg"> 
  <div class="centered row">
  <div class="centered row heading text-center">
  </div>
  <div class="row photo-div centered row">
    <img class="icon_width" src= "../../../assets/2.png" error="">
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
  <div class="centered row heading text-center">
    Test
the component
  </div>
</div>
