
$gray: #666666;
$light-gray: #f7f7f7;
$white: #FFFFFF;
$light-green: #96CEB4;
$baby-pink: #FF6F69;
$yellow: #FFEEAD;
$mustard: #FFCC5C;
$green: #AAD8B0;

//theme
$base-primary: #37A648;
$base-active: #197727;
$base-disabled: #95CC9D;
$base-error: #E8396A;

//gradient
$gradient-1: #FF6F69;
$gradient-2: #FF6F69;
$gradient-3: #FF6F69;

//gradient
$gradient-1: #3AB58A;
$gradient-2: #37A648;
$gradient-3: #1B613F;

$grey-gradient-1: #666666;
$grey-gradient-2: #919191;
$grey-gradient-3: #989898;
$grey-gradient-4: #E8E8E8;
$grey-gradient-5: #FFFFFF;

$gray-background: #D8D8D8;


.white {
  color: $white;
}
