@import './colors';

.responsive-gradient-bg {
  background: linear-gradient(135deg, $gradient-1 0%, $gradient-1 49%, $gradient-1 100%);
}

.responsive-grey-gradient-bg {
  background: linear-gradient(-225deg, $gradient-1 0%, $gradient-1 10%, $gradient-1 67%, $gradient-1 72%, $grey-gradient-1 100%);
}

.global-height {
  min-height: 100%;
}
